*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(315deg, #ffffff, #d7e1ec);
}
.container{
    display: flex;
    justify-content: space-around;
    width: 440px;
    border-radius: 3px;
    padding: 5px 9px;
}
.sm-btn{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform-origin: bottom;
    box-shadow: inset 13px 20px 13px 7px rgb(0 0 0 / 48%);
}
.sm-btn::after{
    content: '';
    height: 13px;
    width: 13px;
    position: absolute;
    background: #333333;
    top: -22px;
    border-radius: 2px;
    transform: rotate(45deg);
    opacity: 0;
}
.sm-btn:hover::after{
    opacity: 1;
}
.sm-btn::before{
    position: absolute;
    width: 78px;
    height: 25px;
    background: #333333 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    top: -38px;
    padding: 0px 5px;
    color: #fff;
    z-index: 999;
    opacity: 0;
}
.sm-btn:hover::before{
    opacity: 1;
    transform: scale(0.9);
}
.sm-btn-fb::before,
.sm-btn-fb{
    background-color: #3b5999;
    content: 'Facebook';
}
.sm-btn-tw::before,
.sm-btn-tw{
    background-color: #46c1f6;
    content: 'Twitter';
}
.sm-btn-insta::before,
.sm-btn-insta{
    background-color: #e1306c;
    content: 'Instagram';
}
.sm-btn-lin::before,
.sm-btn-lin{
    background: #0077B7;
    content: 'LinkedIn';
}
.sm-btn-cp::before,
.sm-btn-cp{
    background: #000000;
    content: 'CodePen';
}
.sm-btn-gh::before,
.sm-btn-gh{
    background-color: #333333;
    content: 'Github';
}
.sm-btn:hover{
    transform: scale(1.2);
    margin: 0px 8px;
}
.sm-icon{
    color: #fff;
    font-size: 30px !important;
}